.coverpage{
    text-align: center;
    background-color: lightpink;
    color: white;
    padding-top: 30px;
    font-family: cursive;
}
.first{
     text-align: center;
    background-color: lightpink;
    color: white;
    padding-top: 30px;
    font-family: cursive;
}
}
h1{
    font-size: 50px;
}
h4{
    font-size: 30px;
}

.right{
    padding-left: 100vh;
}
.left{
    padding-right: 100vh;
}
.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #ffb3cc;
  color: #ff0055;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #ffb3cc;
  border-right: 1px solid #ffb3cc;
  border-bottom: 1px solid #ffb3cc;
  border-left: 1px solid #ffb3cc;
}

.reading{
  
    padding-left: 50vh;
    padding-right: 50vh;
    font-size: 10px;

}

a{
    font-family:sans-serif;
    text-align: center;
    color: white;
    padding-top: 100vh;
    padding-right: 500px
    
    
}

