html {

}

h1{
    position: relative;
    z-index: 8;
}

.space{
    height: 60px;

}





#home{
    font-family: cursive;
    height: 90vh;
    text-align: center;
    z-index: -2;
}

p{
    font-family: cursive;
    font-size: 30px;
}

button{
    background-color: white;
    border: 5px solid #e7e7e7;
    width: 300px;

}

a{
    text-decoration: none !important;
}

.homework{
    color: darkgray;
}

#homecontent{
    top: 300px;
    position: relative;
}

#navbarBack{
    font-family: cursive;
    background: black;
}

#projects{
    padding: 5px 0px;
    font-family: cursive;
    background: white;
    height: 700px;
    text-align: center;
}

#top{
    background-color: pink;
    display: inline-grid;
}
#top2{
    background-color: lightskyblue;
    display: inline-grid;
}


#bottom{
    display: none;
    background-color: pink;
}

#bottom2{
    display: none;
    background-color: lightskyblue;
}
