

p {
    font-family: helvetica;
    font-size: 500px;
    position: absolute;
    top: 80%;
    left: 30%;
    color: aliceblue;
    z-index: 4;
}
body {
    margin: 0 auto;
    max-width: 100% auto;
    font: 'Helvetica', sans-serif;
}

@media only screen and (max-width: 600px) {
    #pic {
        color: deepskyblue;
        width: 550px;

    }

}